@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
    <div">
        <div">
            <div style="overflow: auto; height: 800px;">
                <iframe src="https://serviciosfinancierosena.blogspot.com/" width="90%" height="90%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

